PORT=3000
MONGODB_URI=mongodb://localhost:27017/klh-methodology
JWT_SECRET=supersecretjwtkey

# OpenKM Integration Config
OPENKM_BASE_URL=http://localhost:8080/OpenKM
OPENKM_USERNAME=openkm
OPENKM_PASSWORD=admin
